
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Following section ignores files for %s <<<<<<<<<
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# End ignores for %s >>>>>>>>>>>>
# Following section ignores files for vim <<<<<<<<<
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# End ignores for vim >>>>>>>>>>>>
# Following section ignores files for vim <<<<<<<<<
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# End ignores for vim >>>>>>>>>>>>
